.Home{
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
}
.background-form-section{
    background: #ffffff;
    border: 1px solid #efefef;
    box-shadow: 0px 0px 15px -5px black;
}